section.banner-1 {
	.image {
		@include position(absolute, 0, 0, 0, 0);
		z-index: 10;

		&:before {
			background-color: rgba(#000, 0);
			content: '';
			@include position(absolute, 0, 0, 0, 0);
		}

		img {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
	.container {
		z-index: 20;
	}
	.box {
		background-color: rgba(#000, .7);
		@include border-radius($ui-radius);
		padding: 40px;

		.title {
			color: #fff;
			font-family: $font-2;
			@include responsive(font-size, 65px, .15);
			font-weight: normal;
			line-height: 105%;
		}

		.subtitle {
			color: #fff;
			font-family: $font-2;
			@include responsive(font-size, 35px, .1);
			font-weight: normal;
			line-height: 120%;
			margin-bottom: 40px;
		}

		.text {
			color: #fff;
			font-family: $font-2;
			@include responsive(font-size, 17px, .1);
			font-weight: 300;
			line-height: 160%;
			margin-bottom: 30px;
		}
	}
}