/* CORE SCSS ----------------------------------- */

@import "_vars";
@import "_mixins";
@import "_reset";
@import "_fonts";
@import "_grid";
@import "_ui";
@import "_components";

/* MAIN ----------------------------------------- */

html,
body {
	background-color: #fff;
	color: $grey-4;
	@include responsive(font-size, 16px, .05);
	font-family: $font-1;
	overflow-x: hidden;
	line-height: 150%;
}

section {
	position: relative;
}

main {
	section {
		@include responsive(padding-bottom, #{$section-padding}, .1);
		@include responsive(padding-top, #{$section-padding}, .1);
	}
}

#page {
	background-color: #fff;
	min-width: 320px;
	position: relative;
	@include transition(transform, ease, 300ms);
	z-index: 10;
}

/* CONTENT --------------------------------- */

.section-header {
	h1 {
		color: $color-1;
		font-family: $font-2;
		@include responsive(font-size, 50px, .15);
		font-weight: 600;
		line-height:105%;
		text-transform: uppercase;
	}
	h2 {
		color: $color-2;
		font-family: $font-2;
		@include responsive(font-size, 50px, .15);
		font-weight: 600;
		line-height:105%;
		text-transform: uppercase;
	}

	h3 {
		color: $color-1;
		display: inline;
		font-family: $font-2;
		@include responsive(font-size, 50px, .1);
		font-weight: 600;
		line-height:105%;
	}
	h4 {
		color: $grey-4;
		display: inline;
		font-family: $font-2;
		@include responsive(font-size, 50px, .1);
		font-weight: 600;
		line-height:105%;
	}

	h1,
	h2 {
		&:not(:last-child) {
			margin-bottom: 14px;
		}
	}

	h3,
	h4 {
		&:not(:last-child) {
			margin-right: 14px;
		}
	}
}

.content {
	&:not(:last-child) {
		margin-bottom: $text-margin;
	}

	h1 {
		color: $color-1;
		font-family: $font-2;
		@include responsive(font-size, 50px, .15);
		font-weight: 600;
		line-height:105%;
	}
	h2 {
		color: $color-1;
		font-family: $font-2;
		@include responsive(font-size, 50px, .15);
		font-weight: 600;
		line-height:105%;
	}
	h3 {
		color: $color-1;
		font-family: $font-2;
		@include responsive(font-size, 40px, .15);
		font-weight: 600;
		line-height:105%;
	}
	h4 {
		color: $color-1;
		font-family: $font-2;
		@include responsive(font-size, 30px);
		font-weight: 600;
		line-height:105%;
	}
	h5 {
		border-bottom: 2px solid $color-1;
		color: #000;
		font-family: $font-2;
		@include responsive(font-size, 20px);
		font-weight: 600;
		line-height: 120%;
		margin-bottom: 14px;
		padding-bottom: 14px;
	}
	h6 {
		color: $color-1;
		font-family: $font-2;
		@include responsive(font-size, 18px);
		font-weight: 600;
		line-height: 150%;
	}

	a {
		color: $color-1;
		text-decoration: underline;
	}

	ul {
		display: table;
		list-style: none;

		li {
			display: block;
			text-indent: -14px;
			padding-left: 14px;
			position: relative;

			&:before {
				background-color: $grey-3;
				@include border-radius(50%);
				content: '';
				height: 6px;
				margin: -2px 7px 0 0;
				display: inline-block;
				vertical-align: middle;
				width: 6px;
			}
		}
	}

	ol {
		display: table;
		margin-left: 12px;

		@include medium {
			margin-left: 14px;
		}
		@include large {
			margin-left: 16px;
		}
		@include extralarge {
			margin-left: 17px;
		}
	}

	table {
		tr {
			th,
			td {
				padding: 4px 8px;

				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					padding-right: 0;
				}
			}
			th {
				border-bottom: 1px solid $grey-1;
				font-weight: bold;
				text-align: left;
			}
		}
	}

	hr {
		border: 0;
		border-bottom: 4px solid $grey-1;
		display: block;
		height: 0;
		margin-left: 0;
		margin-right: auto;
		margin-top: 0;
		width: 100px;
		padding: 0;
	}

	h1,
	h2,
	h3,
	h4,
	p,
	ul,
	ol,
	table,
	hr {
		&:not(:last-child) {
			margin-bottom: $text-margin;
		}
	}
}

/* CUSTOM ---------------------------------------------- */

section.home-intro {
	@include background('../img/tiretracks.png', auto, left bottom, no-repeat);
}

section.banner-split {
	.container:first-child {
		z-index: 20;

		.row {
			min-height: 350px;
		}
	}
	.container:last-child {
		left: 0;
		position: absolute;
		top: 0;
		height: 100%;
		z-index: 10;

		.row {
			height: 100%;
		}
	}
	.background {
		background-color: #000;

		&:before {
			background-color: #000;
			bottom: 0;
			content: '';
			left: -1px;
			position: absolute;
			top: 0;
			width: 10px;
		}
	}
	.box {
		width: 100%;

		@include medium {
			padding-left: 30px;
		}

		.title {
			color: $color-1;
			font-family: $font-2;
			font-weight: 600;
			letter-spacing: 4px;
			line-height: 105%;
			margin-bottom: $text-margin;
			@include responsive(font-size, 34px, .1);
			text-transform: uppercase;

			span {
				color: #fff;
			}
		}

		.subtitle {
			color: #fff;
			font-family: $font-1;
			font-weight: normal;
			line-height: 120%;
			margin-bottom: $text-margin;
			@include responsive(font-size, 25px, .14);
		}

		.text {
			color: #fff;
			font-family: $font-1;
			@include responsive(font-size, 15px, .05);
			font-weight: normal;
			line-height: 160%;
		}
	}
}

section.banner-cta {
	background-color: $color-1;
	color: #fff;

	.image {
		@include opacity(.2);
		@include position;
		z-index: 10;
	}
	.container {
		z-index: 20;
	}

	h2 {
		color: #fff;
		font-family: $font-2;
		@include responsive(font-size, 40px, .1);
		font-weight: 600;
		font-style: italic;
		line-height:105%;
		margin-bottom: $text-margin;
	}
}

section.contact-info {
	@include background('../img/tiretracks-flipped.png', auto, right bottom, no-repeat);

	.content {
		font-family: $font-2;
		font-weight: 600;
		@include responsive(font-size, 22px);
		line-height: 140%;

		strong {
			color: $color-1;
		}
	}
}

ul.social {
	@include display-flex;
	list-style: none;
	margin: -12px;

	> li {
		position: relative;
		padding: 12px;

		> a {
			background-color: $color-1;
			@include border-radius;
			color: #000;
			@include flex(row, nowrap, center, center);
			height: 56px;
			position: relative;
			text-decoration: none;
			@include transition(all, ease, 150ms);
			width: 56px;

			@include hover {
				@include transform(scale(1.15));
			}

			&:before {
				display: block;
				font-size: 30px;
				height: 30px;
				line-height: 30px;
				width: 30px;
			}
		}
	}
}

.more-info {
	background-color: #000;
	color: #fff;
	font-family: $font-2;
	font-weight: 600;
	@include responsive(font-size, 17px, .05);
	padding: 30px;

	strong {
		color: $color-1;
		font-weight: 600;
	}
	img {
		margin-bottom: $text-margin;
	}
}

.photo-album {
	margin: -10px;
	
	.item {
		padding: 10px;

		a {
			border: 1px solid $color-1;
			color: #fff;
			display: block;
			padding-top: 70%;
			position: relative;
			text-decoration: none;

			@include hover {
				span {
					background-color: rgba($color-1, .8);
					@include opacity(1);

					&:before {
						@include transform(scale(1));
					}
				}
			}

			span {
				@include flex(row, nowrap, center, center);
				@include opacity(0);
				@include position;
				@include transition;

				&:before {
					font-size: 40px;
					@include transform(scale(0));
					@include transition;
				}
			}
		}
	}
}

.about-us {
	img {
		width: 100%;
	}
	.row-title span {
		color: $color-2;
	}
}

/* GLOBAL CLASSES -------------------------------------- */

.cover {
	@include background('', cover, center, no-repeat);
}

.object-fill {
	object-fit: fill;
}
.object-contain {
	object-fit: contain;
}
.object-cover {
	object-fit: cover;
}
.object-scale-down {
	object-fit: scale-down;
}
.object-none {
	object-fit: none;
}

.ta-xs-left {
	text-align: left;

	hr {
		margin-left: 0;
		margin-right: auto;
	}
}
.ta-xs-right {
	text-align: right;

	ul,
	ol,
	table,
	hr {
		margin-left: auto;
		margin-right: 0;
	}
}
.ta-xs-center {
	text-align: center;

	ul,
	ol,
	table,
	hr {
		margin-left: auto;
		margin-right: auto;
	}
}
.ta-xs-justify {
	text-align: justify;

	ul,
	ol,
	table,
	hr {
		margin-left: 0;
		margin-right: auto;
	}
}

@include small {
	.ta-sm-left {
		text-align: left;

		ul,
		ol,
		table,
		hr {
			margin-left: 0;
			margin-right: auto;
		}
	}
	.ta-sm-right {
		text-align: right;

		ul,
		ol,
		table,
		hr {
			margin-left: auto;
			margin-right: 0;
		}
	}
	.ta-sm-center {
		text-align: center;

		ul,
		ol,
		table,
		hr {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.ta-sm-justify {
		text-align: justify;

		ul,
		ol,
		table,
		hr {
			margin-left: 0;
			margin-right: auto;
		}
	}
}
@include medium {
	.ta-md-left {
		text-align: left;

		ul,
		ol,
		table,
		hr {
			margin-left: 0;
			margin-right: auto;
		}
	}
	.ta-md-right {
		text-align: right;

		ul,
		ol,
		table,
		hr {
			margin-left: auto;
			margin-right: 0;
		}
	}
	.ta-md-center {
		text-align: center;

		ul,
		ol,
		table,
		hr {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.ta-md-justify {
		text-align: justify;

		ul,
		ol,
		table,
		hr {
			margin-left: 0;
			margin-right: auto;
		}
	}
}
@include large {
	.ta-lg-left {
		text-align: left;

		ul,
		ol,
		table,
		hr {
			margin-left: 0;
			margin-right: auto;
		}
	}
	.ta-lg-right {
		text-align: right;

		ul,
		ol,
		table,
		hr {
			margin-left: auto;
			margin-right: 0;
		}
	}
	.ta-lg-center {
		text-align: center;

		ul,
		ol,
		table,
		hr {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.ta-lg-justify {
		text-align: justify;

		ul,
		ol,
		table,
		hr {
			margin-left: 0;
			margin-right: auto;
		}
	}
}
@include extralarge {
	.ta-xl-left {
		text-align: left;

		ul,
		ol,
		table,
		hr {
			margin-left: 0;
			margin-right: auto;
		}
	}
	.ta-xl-right {
		text-align: right;

		ul,
		ol,
		table,
		hr {
			margin-left: auto;
			margin-right: 0;
		}
	}
	.ta-xl-center {
		text-align: center;

		ul,
		ol,
		table,
		hr {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.ta-xl-justify {
		text-align: justify;

		ul,
		ol,
		table,
		hr {
			margin-left: 0;
			margin-right: auto;
		}
	}
}