header.header-1 {
	background-color: #fff;
	@include flex(row, nowrap);
	height: 95px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;

	.container {
		width: 100%;

		@include small {
			width: $viewport-sm;
		}
		@include medium {
			width: $viewport-md;
		}
		@include large {
			width: $viewport-lg;
		}
		@include extralarge {
			width: $viewport-xl;
		}
	}
	.row {
		height: 100%;
	}

	.logo {
		padding: 19px 10px 17px 0;

		a {
			@include transition;

			@include hover {
				@include opacity(.7);
			}
		}
	}

	.extra {
		@include flex(row, nowrap, flex-end, center);
		height: 100%;
		position: relative;
		z-index: 10;
	}

	.phone {
		margin-left: 20px;

		.number {
			color: #000;
			font-family: $font-2;
			@include responsive(font-size, 28px);
			font-weight: 600;
			line-height: 100%;
		}

		[class*=icon-] {
			color: #000;
			font-size: 34px;
			line-height: 34px;
			height: 34px;
			width: 34px;
			text-decoration: none;

			&:before {
				display: block;
				font-size: 34px;
				line-height: 34px;
				height: 34px;
				width: 34px;
			}
		}
	}

	#mobile-menu {
		background-color: $color-1;
		height: 100%;
		margin-left: 20px;
		position: relative;
		width: 91px;

		#mobile-menu-trigger {
			@include flex(column, nowrap, center, center);
			@include position;
			text-decoration: none;
			z-index: 20;
			
			div {
				@include transition;
			}
			span {
				background-color: $grey-4;
				@include border-radius(2px);
				display: block;
				height: 5px;
				position: relative;
				@include transition;
				width: 38px;
				z-index: 10;

				&:nth-child(2) {
					margin: 5px 0;
				}
			}

			p {
				color: #fff;
				font-family: $font-2;
				font-size: 15px;
				font-weight: 600;
				line-height: 100%;
				margin-top: 8px;
				position: relative;
				z-index: 10;
			}
		}

		&.open {
			#mobile-menu-trigger {
				div {
					@include transform(rotate(180deg));
				}
				span {
					&:nth-child(1) {
						@include transform(translateY(10px) rotate(45deg));
					}
					&:nth-child(2) {
						@include opacity(0);
					}
					&:nth-child(3) {
						@include transform(translateY(-10px) rotate(-45deg));
					}
				}
			}
			ul {
				@include opacity(1);
				visibility: visible;
				@include transform(translateX(0));
			}
		}

		ul {
			background-color: $color-1;
			list-style: none;
			min-width: 260px;
			@include opacity(0);
			padding: 20px 20px 20px 0;
			position: absolute;
			right: 0;
			top: 100%;
			@include transform(translateX(50%));
			@include transition;
			visibility: hidden;

			li {
				padding: 6px 0;

				&.active {
					a {
						background-color: darken($color-1, 6%);
					}
				}

				a {
					color: #fff;
					display: block;
					font-family: $font-2;
					font-size: 32px;
					font-weight: 600;
					line-height: 100%;
					padding: 12px 20px;
					text-align: right;
					text-decoration: none;
					@include transition;

					@include hover {
						padding-right: 30px;
					}
				}
			}
		}
	}
}