footer.footer-1 {
	background-color: #000;

	.footer-main {
		color: #fff;
		@include responsive(font-size, 17px, .1);
		line-height: 180%;
		padding: 30px 0;

		.footer-logo {
			margin-bottom: 40px;

			a {
				@include transition;

				@include hover {
					@include opacity(.5);
				}
			}
		}

		.form-title {
			color: $color-1;
			font-family: $font-2;
			@include responsive(font-size, 30px, .15);
			font-weight: 800;
			line-height:105%;
			margin-bottom: $text-margin;
		}
	}

	.footer-bottom {
		background-color: #DBDBDB;
		color: #000;
		font-family: $font-2;
		@include responsive(font-size, 17px, .05);
		
		.row {
			padding: 10px calc(#{$gutter} * 4) 10px 0;
		}

		a {
			color: #000;
			text-decoration: underline;
		}

		.back-to-top {
			background-color: $color-1;
			bottom: 0;
			@include flex(row, nowrap, center, center);
			height: 40px;
			position: absolute;
			right: $gutter;
			width: 40px;

			&:before {
				border-bottom: 14px solid #fff;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				content: '';
				height: 0;
				width: 0;
			}
		}
	}
}