section.hero-2 {
	overflow: hidden;
	position: relative;
	z-index: 20;

	.background {
		bottom: 0;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		.left {
			background-color: $grey-4;
		}
		.right {
			background-color: $color-1;
		}
	}
	.text {
		.row {
			height: 160px;
		}
	}

	.title {
		color: #fff;
		font-family: $font-2;
		@include responsive(font-size, 50px, .15);
		font-weight: 600;
		line-height: 105%;
	}

	ul.socialmedia {
		@include display-flex;
		@include flex-direction(column);
		list-style: none;
		margin: -6px;

		@include small {
			@include flex-direction(row);
		}
		@include medium {
			margin: -12px;

			> li {
				padding: 12px;

				> a {
					height: 56px;
					width: 56px;
				}
			}
		}

		> li {
			position: relative;
			padding: 6px;

			> a {
				background-color: #fff;
				@include border-radius;
				color: #000;
				@include flex(row, nowrap, center, center);
				height: 46px;
				position: relative;
				text-decoration: none;
				@include transition(all, ease, 150ms);
				width: 46px;

				@include hover {
					@include transform(scale(1.15));
				}

				&:before {
					display: block;
					font-size: 30px;
					height: 30px;
					line-height: 30px;
					width: 30px;
				}
			}
		}
	}
}