section.gallery-1 {
	background-color: $color-1;
	padding: 0;

	.container {
		z-index: 20;
	}

	[class*=col-] {
		@include transition(all, ease, 150ms);
		z-index: 10;

		@include hover {
			@include transform(scale(1.1));
			z-index: 20;

			a {
				&:after {
					background-color: rgba($color-2, .75);
				}
				&:before {
					@include transform(scale(1));
				}
			}
		}

		a {
			display: block;

			&:after {
				background-color: rgba($color-2, 0);
				content: '';
				@include position(absolute, 0, 0, 0, 0);
				@include transition(all, ease, 300ms);
				z-index: 20;
			}
			&:before {
				color: #fff;
				font-size: 70px;
				height: 70px;
				line-height: 70px;
				margin: -35px 0 0 -35px;
				@include position(absolute, 50%, none, none, 50%);
				text-decoration: none;
				width: 70px;
				@include transform(scale(0));
				@include transition(all, ease, 300ms);
				z-index: 30;
			}

			img {
				display: block;
				position: relative;
				width: 100%;
				z-index: 10;
			}
		}
	}
}